<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-6">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto Verde</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'app/estilos.css' %}">


</head>
<body>
    


<h1>hello</h1>


<header>

    <div id="contenido">
   {% block contenido %}

   {% end block %}

    </div>


</header>

</body>



<footer>

</footer>

</html>