<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-6">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Punto Verde</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">


</head>
<body>
    


    <nav class="navbar navbar-expand-sm bg-color navbar-light" style="background-color: rgba(93, 218, 89, 0.61);">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'app/img/logo.png' %}" alt="" width="30" height="24">
                  </a>
              <a class="navbar-brand" id="inicio" href="http://127.0.0.1:8000/ ">Punto Verde</a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href=" http://127.0.0.1:8000/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registro ">Registro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/estado">Estado container</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/recicla">como reciclar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/llenado">llenar contenedor</a>
            </li>
          </ul>
        </div>
      </nav>





    






<header>

    <div id="contenido">
   {% block contenido %}

   {% endblock %}

    </div>


</header>

</body>


<div class="footer-basic">
<footer>
  <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
  <ul class="list-inline">
      <li class="list-inline-item"><a href="#inicio">Inicio</a></li>
      <li class="list-inline-item"><a href="/registro">registro</a></li>
      <li class="list-inline-item"><a href="/recicla">como reciclar</a></li>
      <li class="list-inline-item"><a href="#">jajas</a></li>
      <li class="list-inline-item"><a href="/estado">estado container</a></li>
      <li class="list-inline-item"><a href="/llenado">llenar container</a></li>
  </ul>
  <p class="copyright">Punto Verde</p>
</footer>
</div>

</html>