{%extends 'app/base.html'%}

{% block contenido %}

{% load static %}
<div class="slide">
  <div class="slide-inner">
    <input class="slide-open" type="radio" id="slide-1" 
          name="slide" aria-hidden="true" hidden="" checked="checked">
    <div class="slide-item">
      <img class="img-responsive center-block" src="{% static 'app/img/carrusel1.jpg' %}" alt=""  width="auto"  height="auto">
    </div>
    <input class="slide-open" type="radio" id="slide-2" 
          name="slide" aria-hidden="true" hidden="" >
    <div class="slide-item">
      <img class="img-responsive center-block" src="{% static 'app/img/carrusel2.jpg' %}" alt=""  >
    </div>
    <input class="slide-open" type="radio" id="slide-3" 
          name="slide" aria-hidden="true" hidden="">
    <div class="slide-item">
      <img class="img-responsive center-block" src="{% static 'app/img/carrusel3.jpg' %}" alt=""  width="auto" height="30%">
    </div>
    <label for="slide-3" class="slide-control prev control-1">‹</label>
    <label for="slide-2" class="slide-control next control-1">›</label>
    <label for="slide-1" class="slide-control prev control-2">‹</label>
    <label for="slide-3" class="slide-control next control-2">›</label>
    <label for="slide-2" class="slide-control prev control-3">‹</label>
    <label for="slide-1" class="slide-control next control-3">›</label>
    <ol class="slide-indicador">
      <li>
        <label for="slide-1" class="slide-circulo">•</label>
      </li>
      <li>
        <label for="slide-2" class="slide-circulo">•</label>
      </li>
      <li>
        <label for="slide-3" class="slide-circulo">•</label>
      </li>
    </ol>
  </div>
</div>




<!-- ------------------------------------------------------- -->

<div class="titulo">
    
  <h1> Welcome to punto verde </h1>
</div>




<div class="continer">
  <div class="row">

  
</div>

{% endblock %}