{%extends 'app/base.html'%}

{% block contenido %}


{% load static %}




<div class="recicla">



    <div class="tabs">
        <div class="tab-container">
          <div id="tab3" class="tab"> 
            <a href="#tab3">Pestaña 3</a>
            <div class="tab-content">
              <h2>  Contenedores </h2>
<!-- -----------------------------MOSTRAR CONTAINERS ------------------------------------- -->

<div  class="card-body">  
 
  <table  class="table" >
      <thead>
          <tr>
              <th>id contenedor  </th>
              <th> tipo contenedor </th>
              <th> Fecha </th>
              <th> Peso Material </th>
              
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          {% for IngresoMaterial in ingresos %}
          <tr>
              <td> {{ IngresoMaterial.id_material  }}    </td>
              <td> {{ IngresoMaterial.tipo_producto  }} </td>
              <td> {{ IngresoMaterial.fecha  }} </td>
              <td> {{ IngresoMaterial.pesos_material  }} </td>
              <td> <a name="" id="" class="btn btn-success" href="#"> Editar  </a>  <button type="button" class="btn btn-danger">Eliminar</button> </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  </div>
  

<!-- ------------------------------------------------------------- -->


            </div>
          </div>
          <div id="tab2" class="tab">
            <a href="#tab2">Pestaña 2</a>
            <div class="tab-content">
              <h2>Titulo 2</h2>
           
            </div>
          </div> 
          <div id="tab1" class="tab">
            <a href="#tab1">Pestaña 1</a>
            <div class="tab-content">

              <h2>Titulo 1</h2>
  
 
              <form action="">  
    

   


                {{ form }}
            
            
                <button type="submit" id="btnEnviar" class="buttong" > okey</button>
               </form>
             
            </div>  
          </div> 
        </div>
      </div>
      
</div>

{% endblock %}