
{%extends 'app/base.html'%}

{% block contenido %}

{% load static %}




<div class="recicla">

<div class="Colorqlo"> 


<h2>Ingreso Material</h2>
              

<div  class="card-body">  
 
    <table  class="table" >
        <thead>
            <tr>
                <th>id contenedor  </th>
                <th> tipo contenedor </th>
                <th> Fecha </th>
                <th> Peso Material </th>
                
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for IngresoMaterial in ingresos %}
            <tr>
                <td> {{ IngresoMaterial.id_material  }}    </td>
                <td> {{ IngresoMaterial.tipo_producto  }} </td>
                <td> {{ IngresoMaterial.fecha  }} </td>
                <td> {{ IngresoMaterial.pesos_material  }} </td>
                <td> <a name="" id="" class="btn btn-success" href="{% url 'asignacion' %}"> asignar  </a>  <button type="button" class="btn btn-danger">Eliminar</button> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    
</div>
</div>
  
{% endblock %}