{%extends 'app/base.html'%}

{% block contenido %}




<form class="formu">

    <h2> Registro</h2>

    <div class="form-group"> 
        <label for="nombre" class="control-label">Nombre</label>
        <input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="Ingrese su nombre">
    </div>    

    <div class="form-group"> 
        <label for="apellido" class="control-label">Apellido</label>
        <input type="text" class="form-control" id="street1_id" name="street1" placeholder="Ingrese su apellido">
    </div>                    
                            
    <div class="form-group"> 
        <label for="email" class="control-label">Email</label>
        <input type="text" class="form-control" id="street2_id" name="street2" placeholder="Ingrese su email">
    </div>    

    <div class="form-group"> 
        <label for="numero" class="control-label">Numero</label>
        <input type="text" class="form-control" id="city_id" name="city" placeholder="Ingrese su numero">
    </div>             
    <input type="submit"  class="botones btn btn-success" value="enviar" > 
    
</form>


{% endblock %}